* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.face {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fcd7a1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 50px;
}

.eye {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  border: 2px solid #000;
}

.pupil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

.nose {
  width: 30px;
  height: 30px;
  background-color: #e58f64;
  border-radius: 50%;
  position: absolute;
  top: 130px;
}

.mouth {
  width: 80px;
  height: 20px;
  background-color: #e58f64;
  border-radius: 10px;
  position: absolute;
  top: 160px;
}

.hair {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  z-index: 10;
  background-color: #3b3b3b;
  border-radius: 50%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: rotate(30deg);
  box-shadow: -10px -10px 0 0 #3b3b3b, 10px -10px 0 0 #3b3b3b;
}

.left-hair {
  left: 40px;
  transform: rotate(-45deg); 
}

.right-hair {
  right: 40px;
  transform: rotate(45deg);
}
